<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        pre{

         color:black;
         font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

        }

        p{
            margin-left: 1rem;
        }
    </style>
</head>

<body>


    <p>Dear, <%= name %></p>   
    <pre>
    We are pleased to welcome you as a new member of the Forge Alumnus Advisory Board.
    Your term will begin from today. You will receive information via email with further details
    about the role, responsibilities and meeting date.

    All new Forge Alumnus Advisory Board (FAAB) Members are asked to attend a FAAB
    information session on requested date. This session will familiarize you with the FAAB’s
    work and processes and with your responsibilities as a member. It will also give you an
    opportunity to meet other new and current members and ask any questions you might have.
    The Information Session will be scheduled for 1 hr.

    Forge Alumnus Advisory Board is dedicated in bringing the industry/corporates voice to
    Student communities in building their futures. We greatly appreciate your willingness to
    serve and look forward to working together towards this goal.

    Please don’t hesitate to contact us if you have questions about the Forge Alumnus Advisory 
    Board or your responsibilities as a member

    Sincerely,
    Vijay Kumar Renikuntla.
</pre>

</body>

</html>